{% extends 'sortie/SortieLayOut.html.twig' %}

{% block header %} {{ parent() }}{% endblock %}

{% block body %}

    <body>

    <div class="show">

        <h1>Mes Informations</h1>
        <ul>

            <li>Prénom : {{ app.user.prenom }}</li>
            <li>Nom : {{ app.user.nom }}</li>
            <li>Téléphone : {{ app.user.telephone }}</li>
            <li>Email : {{ app.user.email }}</li>
            <li>Campus : {{ app.user.campus.nom }}</li>
        </ul>
        <a class="p-2 text-dark" href="{{ path('update', {'id' : app.user.id }) }}">Modifier mes informations</a>
    </div>
    </body>
{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}





